<!--预登记界面-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--引入公共头-->
<div class="header" th:replace="public:: #public-header"></div>
<!--sidebar-->
<div class="sidebar" th:replace="mywork:: #sidebar(activeUri='center')"></div>
<div>
     <span>预登记界面</span>
</div>
</body>
</html>