<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table id="borrowTable"></table>
</div>
</body>
<script th:src="@{/js/bootstrap-datetimepicker/bootstrap-dateimepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker/bootstrap-dateimepicker.zh-CN.js}"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" th:src="@{/js/LibraryUse/borrow.js}"></script>
</html>