<!--到期档案管理<-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>环境监控</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/homepage.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="panel panel-default" style="width: 90%;margin-left: 5%">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align:center">档案环境控制</h3>
        </div>
        <div class="panel-body">
            <table class="table" width="100%" >
                <thead>
                <td>
                    <th>温度</th>
                    <th>湿度</th>
                    <th>化学污染</th>
                    <th>尘埃</th>
                    <th>生物污染</th>
                    <th>设备状态</th>
                </td>
                </thead>
                <tbody>
                <td>
                    <td th:text="${temperature}"></td>
                    <td th:text="${humidity}"></td>
                    <td th:text="${mes01}"></td>
                    <td th:text="${mes02}"></td>
                    <td th:text="${mes03}"></td>
                    <td th:text="${mes04}"></td>
                </td>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>