<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>Title</title>
    <input type="hidden" th:value="${jsondataYlj}" id="jsondataYlj"/>
    <input type="hidden" th:value="${jsondataZlk}" id="jsondataZlk"/>
    <input type="hidden" th:value="${jsondataDak}" id="jsondataDak"/>
    <!-- Required Javascript -->
    <script type="text/javascript">
        var yljData = "[" + $("#jsondataYlj").val() + "]";
        var zlkData = "[" + $("#jsondataZlk").val() + "]";
        var dakData = "[" + $("#jsondataDak").val() + "]";
        $(function() {
            $('#treeYlj').treeview({
                color: "#428bca",
                //backColor: "black",背景色
                //borderColor:'green',
                collapseIcon: "glyphicon glyphicon-minus",//可收缩的节点图标
                nodeIcon: "glyphicon glyphicon-user",
                //emptyIcon: "glyphicon glyphicon-ban-circle",//设置列表树中没有子节点的节点的图标
                expandIcon: "glyphicon glyphicon-plus",  //设置列表上中有子节点的图标
                highlightSearchResults:true,//是否高亮搜索结果 默认true
                highlightSelected:true,     //是否选中高亮显示
                onhoverColor: "#f5f5f5",    //鼠标滑过的颜色
                levels: 3 ,                 //设置初始化展开几级菜单 默认为3
                selectedIcon: 'glyphicon glyphicon-tint',
                // selectedBackColor: 'black',  //设置被选中的节点背景颜色
                //selectedColor : 'red',      //设置被选择节点的字体、图标颜色
                showBorder:true,                //是否显示边框
                showCheckbox:false,              //是否显示多选框
                //uncheckedIcon:'',             //设置未选择节点的图标
                //data:$('#jsondata').val()
                data:yljData
            });

            // 设置点击事件触发节点的收缩展开
            $('#treeYlj').on('nodeSelected',function(event,data){
                if(data.state.expanded){
                    $('#treeYlj').treeview('collapseNode', data.nodeId);
                }else{
                    $('#treeYlj').treeview('expandNode', data.nodeId);
                }
            });

            $('#treeYlj').on('nodeSelected', function(event, data) {
                if(data.href!=null){
                    document.getElementById("iframepage").src="/mywork/" + data.href;
                    // document.getElementById("iframepage").src="http://www.baidu.com";
                }
                var arr = $('#treeYlj').treeview('getSelected');
            });

            $('#treeZlk').treeview({
                color: "#428bca",
                //backColor: "black",背景色
                //borderColor:'green',
                collapseIcon: "glyphicon glyphicon-minus",//可收缩的节点图标
                nodeIcon: "glyphicon glyphicon-user",
                //emptyIcon: "glyphicon glyphicon-ban-circle",//设置列表树中没有子节点的节点的图标
                expandIcon: "glyphicon glyphicon-plus",  //设置列表上中有子节点的图标
                highlightSearchResults:true,//是否高亮搜索结果 默认true
                highlightSelected:true,     //是否选中高亮显示
                onhoverColor: "#f5f5f5",    //鼠标滑过的颜色
                levels: 3 ,                 //设置初始化展开几级菜单 默认为3
                selectedIcon: 'glyphicon glyphicon-tint',
                // selectedBackColor: 'black',  //设置被选中的节点背景颜色
                //selectedColor : 'red',      //设置被选择节点的字体、图标颜色
                showBorder:true,                //是否显示边框
                showCheckbox:false,              //是否显示多选框
                //uncheckedIcon:'',             //设置未选择节点的图标
                //data:$('#jsondata').val()
                data:zlkData
            });

            // 设置点击事件触发节点的收缩展开
            $('#treeZlk').on('nodeSelected',function(event,data){
                if(data.state.expanded){
                    $('#treeZlk').treeview('collapseNode', data.nodeId);
                }else{
                    $('#treeZlk').treeview('expandNode', data.nodeId);
                }
            });

            $('#treeZlk').on('nodeSelected', function(event, data) {
                if(data.href!=null){
                    document.getElementById("iframepage").src="/mywork/" + data.href;
                    // document.getElementById("iframepage").src="http://www.baidu.com";
                }
                var arr = $('#treeZlk').treeview('getSelected');
            });

            $('#treeDak').treeview({
                color: "#428bca",
                //backColor: "black",背景色
                //borderColor:'green',
                collapseIcon: "glyphicon glyphicon-minus",//可收缩的节点图标
                nodeIcon: "glyphicon glyphicon-user",
                //emptyIcon: "glyphicon glyphicon-ban-circle",//设置列表树中没有子节点的节点的图标
                expandIcon: "glyphicon glyphicon-plus",  //设置列表上中有子节点的图标
                highlightSearchResults:true,//是否高亮搜索结果 默认true
                highlightSelected:true,     //是否选中高亮显示
                onhoverColor: "#f5f5f5",    //鼠标滑过的颜色
                levels: 3 ,                 //设置初始化展开几级菜单 默认为3
                selectedIcon: 'glyphicon glyphicon-tint',
                // selectedBackColor: 'black',  //设置被选中的节点背景颜色
                //selectedColor : 'red',      //设置被选择节点的字体、图标颜色
                showBorder:true,                //是否显示边框
                showCheckbox:false,              //是否显示多选框
                //uncheckedIcon:'',             //设置未选择节点的图标
                //data:$('#jsondata').val()
                data:dakData
            });

            // 设置点击事件触发节点的收缩展开
            $('#treeDak').on('nodeSelected',function(event,data){
                if(data.state.expanded){
                    $('#treeDak').treeview('collapseNode', data.nodeId);
                }else{
                    $('#treeDak').treeview('expandNode', data.nodeId);
                }
            });

            $('#treeDak').on('nodeSelected', function(event, data) {
                if(data.href!=null){
                    document.getElementById("iframepage").src="/mywork/" + data.href;
                    document.getElementById("iframepage").scrolling="yes";
                    // document.getElementById("iframepage").src="http://www.baidu.com";
                }
                var arr = $('#treeDak').treeview('getSelected');
            });


            // 添加节点(不可以在叶子节点中添加)
//            $('#tree').treeview("addNode",[0,{node:{text:"----新加的菜单----"}}]);

            // 删除节点及其子节点，若为根节点报错
//            $('#tree').treeview("deleteNode",[2,{ silent: true }]);

        });
    </script>
</head>

<body>
<!--引入公共头-->
<div class="header" th:replace="public:: #public-header"></div>

<!--sidebar-->
<nav class="col-xs-2 d-none d-md-block bg-light sidebar" id="sidebar">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#ylj" data-toggle="tab">预立库</a>
        </li>
        <li><a href="#zlk" data-toggle="tab">整理库</a></li>
        <li><a href="#dak" data-toggle="tab">档案库</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="ylj">
            <div id="treeYlj"></div>
        </div>
        <div class="tab-pane fade" id="zlk">
            <div id="treeZlk"></div>
        </div>
        <div class="tab-pane fade" id="dak">
            <div id="treeDak"></div>
        </div>
    </div>
</nav>


<div class="col-lg-10">
    <iframe src="/mywork/myworkindex" onload="changeFrameHeight()" id="iframepage" frameborder="0" style="width: 100%;margin-top: 1% overflow-x:scrolling">
    </iframe>
</div>

<script th:src="@{/js/iframe.js}"></script>
</body>
</html>