<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>Title</title>
    <input type="hidden" th:value="${jsondataYlj}" id="jsondataYlj"/>
    <input type="hidden" th:value="${jsondataZlk}" id="jsondataZlk"/>
    <input type="hidden" th:value="${jsondataDak}" id="jsondataDak"/>
</head>

<body>
<!--引入公共头-->
<div class="header" th:replace="public:: #public-header"></div>

<!--sidebar-->
<nav class="col-xs-2 d-none d-md-block bg-light sidebar" id="sidebar">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#ylj" data-toggle="tab">预立库</a>
        </li>
        <li><a href="#zlk" data-toggle="tab">整理库</a></li>
        <li><a href="#dak" data-toggle="tab">档案库</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="ylj">
            <div id="treeYlj"></div>
        </div>
        <div class="tab-pane fade" id="zlk">
            <div id="treeZlk"></div>
        </div>
        <div class="tab-pane fade" id="dak">
            <div id="treeDak"></div>
        </div>
    </div>
</nav>


<div class="col-lg-10">
    <iframe src="/mywork/myworkindex" onload="changeFrameHeight()" id="iframepage" frameborder="0" style="width: 100%;margin-top: 1% overflow-x:scrolling">
    </iframe>
</div>

<script th:src="@{/js/iframe.js}"></script>
<script th:src="@{/js/homepage.js}"></script>
</body>
</html>