<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>Title</title>
    <input type="hidden" th:value="${jsondata}" id="jsondata2"/>
    <!-- Required Javascript -->
    <script type="text/javascript">
        var defaultData = "[" + $("#jsondata2").val() + "]";
        //console.log(defaultData);
        $(function() {
            $('#tree').treeview({
                color: "#428bca",
                //backColor: "black",背景色
                //borderColor:'green',
                collapseIcon: "glyphicon glyphicon-minus",//可收缩的节点图标
                nodeIcon: "glyphicon glyphicon-user",
                //emptyIcon: "glyphicon glyphicon-ban-circle",//设置列表树中没有子节点的节点的图标
                expandIcon: "glyphicon glyphicon-plus",  //设置列表上中有子节点的图标
                highlightSearchResults:true,//是否高亮搜索结果 默认true
                highlightSelected:true,     //是否选中高亮显示
                onhoverColor: "#f5f5f5",    //鼠标滑过的颜色
                levels: 3 ,                 //设置初始化展开几级菜单 默认为3
                selectedIcon: 'glyphicon glyphicon-tint',
                // selectedBackColor: 'black',  //设置被选中的节点背景颜色
                //selectedColor : 'red',      //设置被选择节点的字体、图标颜色
                showBorder:true,                //是否显示边框
                showCheckbox:false,              //是否显示多选框
                //uncheckedIcon:'',             //设置未选择节点的图标
                //data:$('#jsondata').val()
                data:defaultData
            });

            // 设置点击事件触发节点的收缩展开
            $('#tree').on('nodeSelected',function(event,data){
                if(data.state.expanded){
                    $('#tree').treeview('collapseNode', data.nodeId);
                }else{
                    $('#tree').treeview('expandNode', data.nodeId);
                }
            });

            $('#tree').on('nodeSelected', function(event, data) {
                if(data.href!=null){
                    document.getElementById("iframepage").src="/mywork/" + data.href;
                    // document.getElementById("iframepage").src="http://www.baidu.com";
                }
                var arr = $('#tree').treeview('getSelected');
            });


            // 添加节点(不可以在叶子节点中添加)
//            $('#tree').treeview("addNode",[0,{node:{text:"----新加的菜单----"}}]);

            // 删除节点及其子节点，若为根节点报错
//            $('#tree').treeview("deleteNode",[2,{ silent: true }]);

        });
    </script>
</head>

<body>
<!--引入公共头-->
<div class="header" th:replace="public:: #public-header"></div>

<!--sidebar-->
<nav class="col-xs-2 d-none d-md-block bg-light sidebar" id="sidebar">
    <div id="tree"></div>
</nav>

<div class="col-lg-10">
    <iframe src="/mywork/index" onload="changeFrameHeight()" id="iframepage" frameborder="0" style="width: 100%;margin-top: 1%" scrolling="no">
    </iframe>
</div>

<script th:src="@{/js/iframe.js}"></script>
</body>
</html>