<!--档案盘点-->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人员进出</title>
</head>
<body>
<!--sidebar-->
<div class="row" style="margin:80px 40px 50px 50px;border:1px solid #b9c2dc">
    <div style="margin-left:10px;margin-right:10px">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align:center">人员进出情况</h3>
        </div>
        <div class="panel-body">
            <div class="row" style="margin:0px 0px 5px 5px;">
                <h4>2019.5.1—14点管理员张三</h4>
                <h4>2019.5.2—16点用户王某</h4>
                <h4>2019.5.3—10点管理员张三</h4>
                <h4>2019.5.4—8点管理员李四</h4>
            </div>
        </div>
    </div>
</div>

</body>
</html>

