/*
 * 表单总体布局
 */
#form-container {
    margin-top: 100px;
    border-radius: 20px;
    border-style: groove;
    border-width: 5px;
    border-color: #00CCFF;
}

/*
 * 标签
 */
label {
    font-family:"微软雅黑";
    font-size: 20px;
}
