<!--数据词典-->
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>数据字典</title>
</head>
<body>
<div id="container">
    <div class="header" th:replace="public:: #public-header"></div>
    <div class="body">
        <div class="sidebar" th:replace="SystemManagement/SystemManagePublic:: #sidebar" style="width: 20%;height: 90%; background-color: #cccccc"></div>
        <div id="main" style="width: 85%;height: 90%;float: left ">
            <div id="i-main-center">
                <ol class="breadcrumb">
                    <li>
                        <a data-target="#i-menu-sidebar" data-toggle="sidebar" href="#">
                            <span aria-hidden="true" class="glyphicon glyphicon-align-left"></span> 基础数据
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">数字词典</a>
                    </li>
                </ol>
                <div id="main-center">
                    <div id="mc-section" class="container-fluid">
                        <div class="row">
                            <button type="button" class="btn btn-default btn-add btn-xs-12"  data-toggle="modal" data-target="#addDictionary">
                                <i class="glyphicon glyphicon-plus">添加字典</i>
                            </button>
                        </div>
                        <div class="row" >
                            <table id="dictionaryTable"></table>
                        </div>
                    </div>
                </div>

                <!--模态框-->
                <div class="modal fade" id="addDictionary"   tabindex="-1" role="dialog" aria-labelledby="addDictionaryLabel" aria-hidden="true">
                    <div class="modal-dialog" style="width: 1000px">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: red">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                                <h4 class="modal-title" id="addDictionaryLabel"> 添加字典 </h4>
                            </div>
                            <div class="modal-body">
                                <form id="info" class="form-horizontal" action="" method="post">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="code">代码</label>
                                        <div class="col-sm-10">
                                            <input type="text" autocomplete="off" class="form-control"id="code" name="code" placeholder="代码" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="name">名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" autocomplete="off" class="form-control"id="name" name="name" placeholder="名称" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer" style="display: block;">
                                <div class="bootstrap-dialog-footer">
                                    <div class="bootstrap-dialog-footer-buttons">
                                        <button class="btn btn-success" data-dismiss="modal" onclick="saveInfo(this)">保存</button>
                                        <button class="btn btn-default"  data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="searchDictionaryModal"   tabindex="-1" role="dialog" aria-labelledby="searchDictionaryModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="width: 1000px">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #007bff">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                                <h4 class="modal-title" id="searchDictionaryModalLabel"> 详情 </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <button type="button" class="btn btn-default btn-add btn-xs-12"  data-toggle="modal" data-target="#addContent">
                                        <i class="glyphicon glyphicon-plus">添加字段</i>
                                    </button>
                                    <input type="hidden" id="name1" value="">
                                    <input type="hidden" id="code1" value="">
                                </div>
                                <div class="row">
                                    <table id="d-table"></table>
                                </div>
                            </div>
                            <div class="modal-footer" style="display: block;">
                                <div class="bootstrap-dialog-footer">
                                    <div class="bootstrap-dialog-footer-buttons">
                                        <button class="btn btn-primary" id="save"data-dismiss="modal" onclick="save(this)">保存</button>
                                        <button class="btn btn-default" id="close" data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="delModal"   tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="width: 1000px">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: red">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                                <h4 class="modal-title" id="delModalLabel"> 删除 </h4>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="delname">
                                <span>确定删除吗？</span>
                            </div>
                            <div class="modal-footer" style="display: block;">
                                <div class="bootstrap-dialog-footer">
                                    <div class="bootstrap-dialog-footer-buttons">
                                        <button class="btn btn-danger" data-dismiss="modal" onclick="deleteInfo(this)">确定</button>
                                        <button class="btn btn-default"  data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="addContent"   tabindex="-1" role="dialog" aria-labelledby="addContentLabel" aria-hidden="true">
                    <div class="modal-dialog" style="width: 1000px">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #007bff">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                                <h4 class="modal-title" id="addContentLabel"> 添加字段 </h4>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="dictionary-name" value="">
                                <input type="hidden" id="dictionary-code">
                                <form  class="form-horizontal" action="" method="post">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="code">代码</label>
                                        <div class="col-sm-10">
                                            <input type="text" autocomplete="off" class="form-control"id="add-code"  placeholder="代码" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="name">名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" autocomplete="off" class="form-control"id="add-name"  placeholder="名称" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="add-parent">父级</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly autocomplete="off" class="form-control"id="add-parent"  placeholder="父级" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="add-sequence">顺序</label>
                                        <div class="col-sm-10">
                                            <input type="text" autocomplete="off" class="form-control"id="add-sequence"  placeholder="顺序" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="add-comment">备注</label>
                                        <div class="col-sm-10">
                                            <input type="text" autocomplete="off" class="form-control"id="add-comment"  placeholder="备注" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer" style="display: block;">
                                <div class="bootstrap-dialog-footer">
                                    <div class="bootstrap-dialog-footer-buttons">
                                        <button class="btn btn-success" data-dismiss="modal" onclick="saveDictionary(this)">保存</button>
                                        <button class="btn btn-default"  data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editModal"   tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="width: 1000px">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #007bff">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                                <h4 class="modal-title" id="editModalLabel"> 编辑 </h4>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="edit-dictionary-name" value="">
                                <form  class="form-horizontal" action="" method="post">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="code">代码</label>
                                        <div class="col-sm-10">
                                            <input type="text" autocomplete="off" class="form-control"id="edit-code"  placeholder="代码" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="name">名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" autocomplete="off" class="form-control"id="edit-name"  placeholder="名称" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="add-parent">父级</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly autocomplete="off" class="form-control"id="edit-parent"  placeholder="父级" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="add-sequence">顺序</label>
                                        <div class="col-sm-10">
                                            <input type="text" autocomplete="off" class="form-control"id="edit-sequence"  placeholder="顺序" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="add-comment">备注</label>
                                        <div class="col-sm-10">
                                            <input type="text" autocomplete="off" class="form-control"id="edit-comment"  placeholder="备注" data-prompt-position="bottomLeft">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer" style="display: block;">
                                <div class="bootstrap-dialog-footer">
                                    <div class="bootstrap-dialog-footer-buttons">
                                        <button class="btn btn-success" data-dismiss="modal" onclick="saveEdit(this)">保存</button>
                                        <button class="btn btn-default"  data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deleteModal"   tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="width: 1000px">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: red">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                                <h4 class="modal-title" id="deleteModalLabel"> 删除 </h4>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="delete-code">
                                <input type="hidden" id="d-name">
                                <span>确定删除吗？</span>
                            </div>
                            <div class="modal-footer" style="display: block;">
                                <div class="bootstrap-dialog-footer">
                                    <div class="bootstrap-dialog-footer-buttons">
                                        <button class="btn btn-danger" data-dismiss="modal" onclick="deleteConfirm(this)">确定</button>
                                        <button class="btn btn-default"  data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script th:src="@{/js/SystemManagement/DataDictionary.js}"></script>

</body>
</html>