<!--部门管理-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>部门管理</title>
</head>
<body>
<div id="container">
    <div class="header" th:replace="public:: #public-header"></div>
    <div class="body">
        <div class="sidebar" th:replace="SystemManagement/SystemManagePublic:: #sidebar" style="width: 20%;height: 90%; background-color: #cccccc"></div>
        <div id="main" style="width: 85%;height: 90%;float: left ">
            <div id="i-main-center">
                <ol class="breadcrumb">
                    <li>
                        <a data-target="#i-menu-sidebar" data-toggle="sidebar" href="#">
                            <span aria-hidden="true" class="glyphicon glyphicon-align-left"></span>
                            系统管理
                        </a>
                    </li>
                    <li>
                        权限管理
                    </li>
                    <li class="active">
                        <a href="#">部门管理</a>
                    </li>
                </ol>
                <div id="main-center">
                    <div id="mc-main" class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 col-xs-12 zero-padding">
                                <span class="pathnav"></span>
                            </div>
                            <div class="col-md-4 col-md-offset-4 col-xs-12 zero-padding">
                                <div role="group" class="btn-group btn-group-sm btn-group-xs-12 btn-group-xs-vertical right zero-padding-lr">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control query-keywords" placeholder="代码或名称">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-query">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                            <button type="button" class="btn btn-default btn-add">
                                                <i class="glyphicon glyphicon-plus">添加</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="DataTables_Table_5_wrapper" class="dtaTables_wrapper form-inline">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="DataTables_Table_5" class="table table-striped table-bordered nowrap hover no-footer" role="grid"
                                               aria-describedby="DataTables_Table_5_info" style="width: 100%" width="100%" cellpadding="0">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 28.2px;" aria-label="序号">
                                                    序号
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 106.2px;" aria-label="代码: 以升序排列此列">
                                                    代码
                                                </th>
                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 170.2px;" aria-sort="ascending" aria-label="名称: 以降序排列此列">
                                                    名称
                                                </th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 76.2px;" aria-label="父级">
                                                    父级
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 100.2px;" aria-label="主管: 以升序排列此列">
                                                    主管
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 158.2px;" aria-label="联系电话: 以升序排列此列">
                                                    联系电话
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_5" rowspan="1" colspan="1" style="width: 100.2px;" aria-label="传真: 以升序排列此列">
                                                    传真
                                                </th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 76.2px;" aria-label="备注">
                                                    备注
                                                </th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 204px;" aria-label="操作">
                                                    操作
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" class="odd">
                                                <td tabindex="0">1</td>
                                                <td>GJJYXY</td>
                                                <td class="sorting_1">
                                                    国际教育学院
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="btn-group btn-group-xs" role="group">
                                                        <button type="button" class="btn btn-default btn-edit">
                                                            <i class="glyphicon glyphicon-pencil">编辑</i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-remove">
                                                            <i class="glyphicon glyphicon-remove">删除</i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td tabindex="0">2</td>
                                                <td>XB</td>
                                                <td class="sorting_1">
                                                    校办
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="btn-group btn-group-xs" role="group">
                                                        <button type="button" class="btn btn-default btn-edit">
                                                            <i class="glyphicon glyphicon-pencil">编辑</i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-remove">
                                                            <i class="glyphicon glyphicon-remove">删除</i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td tabindex="0">3</td>
                                                <td>DAG</td>
                                                <td class="sorting_1">
                                                    档案馆
                                                </td>
                                                <td></td>
                                                <td>   </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="btn-group btn-group-xs" role="group">
                                                        <button type="button" class="btn btn-default btn-edit">
                                                            <i class="glyphicon glyphicon-pencil">编辑</i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-remove">
                                                            <i class="glyphicon glyphicon-remove">删除</i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="dataTables_info" id="DataTables_Table_5_info" role="status" aria-live="polite">
                                            显示第 1 至 3 项结果，共 3 项
                                            <span class="select-info">
                                                <span class="select-item">
                                                    已选择 0 行
                                                </span>
                                                <span class="select-item"></span>
                                                <span class="select-item"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="dataTables_paginate paging_input" id="DataTables_Table_5_paginate" style="display: none;">
                                            <span class="first paginate_button" id="DataTables_Table_5_first">首页</span>
                                            <span class="previous paginate_button" id="DataTables_Table_5_previous">上页</span>
                                            <span class="paginate_page">第 </span>
                                            <input class="paginate_input" type="text">
                                            <span class="paginate_of"></span>
                                            <span class="next paginate_button" id="DataTables_Table_5_next">下页</span>
                                            <span class="last paginate_button" id="DataTables_Table_5_last">末页</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>