<!--系统管理公共部分-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--sidebar-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active"
                   th:class="${activeUri=='center'?'nav-link active':'nav-link'}"
                   href="#" th:href="@{/SystemManagement/Metadata}">
                    元数据 <span class="sr-only">(current)</span>
                </a>
            </li>
            <!--th:class="${activeUri=='main'?'nav-link active':'nav-link'}"-->
            <!--th:class="${activeUri=='emps'?'nav-link active':'nav-link'}"-->
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/SystemManagement/MetadataTemplate}"
                   th:class="${activeUri=='emps'?'nav-link active':'nav-link'}">
                    元数据模板
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/SystemManagement/DataDictionary}"
                   th:class="${activeUri=='emps'?'nav-link active':'nav-link'}">
                    数据字典
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/SystemManagement/MenuManagement}"
                   th:class="${activeUri=='emps'?'nav-link active':'nav-link'}">
                    菜单管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/SystemManagement/UserManagement}"
                   th:class="${activeUri=='emps'?'nav-link active':'nav-link'}">
                    用户管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/SystemManagement/AuthorityManagement}"
                   th:class="${activeUri=='emps'?'nav-link active':'nav-link'}">
                    权限管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/SystemManagement/ProcessManagement}"
                   th:class="${activeUri=='emps'?'nav-link active':'nav-link'}">
                    流程管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/SystemManagement/DatabaseBackup}"
                   th:class="${activeUri=='emps'?'nav-link active':'nav-link'}">
                    数据库备份
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>