<!--利用审批页面-->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>利用审批</title>
    <script src="../../static/js/LibraryUse/ExamineTable.js"></script>
</head>
<body>
<div id="container">
    <div class="header" th:replace="public:: #public-header"></div>
    <div id="body">
        <!--sidebar-->
        <div class="sidebar" th:replace="LibraryUse/LibrarycontrolCenter:: #sidebar"style="width: 20%;height: 90%; background-color: #cccccc"></div>
        <div class="center" style="width: 78%;height: 90%;float: left ">
            <ol class="breadcrumb">
                <li>
                    <a data-target="#i-menu-sidebar" data-toggle="sidebar" href="#">
                        <span aria-hidden="true" class="glyphicon glyphicon-align-left"></span>
                        借阅利用
                    </a>
                </li>
                <li class="active">
                    <a href="#">利用审批</a>
                </li>
            </ol>
            <div class="main-center">
                <div id="mc-query" class="container-fluid">
                    <div class="row">
                        <div class="text-center zero-padding">
                            <span class="col-md-2 zero-padding-lr"></span>
                            <!--
                            <span class="col-md-2 zero-padding-lr">
                                <select class="form-control input-sm query-type">
                                    <option value="">所有类型</option>
                                    <option value="1">馆内登记</option>
                                    <option value="2">网上登记</option>
                                    <option value="3">微信登记</option>
                                </select>
                            </span>
                            -->
                            <span class="col-md-2 zero-padding-lr">
                                <select id="query-checkstatus" class="form-control input-sm query-checkstatus" onclick="getStatus(this)">
                                    <option value="">状态</option>
                                </select>
                            </span>
                            <!--
                            <span class="col-md-2 zero-padding-lr">
                                <input class="form-control input-sm query-check-keywords" placeholder="审批单号">
                            </span>
                            <span class="col-md-2 zero-padding-lr">
                                <input class="form-control input-sm query-using-keywords" placeholder="利用单号或利用人账号、姓名">
                            </span>
                            -->
                            <span class="col-md-1 zero-padding-lr">
                                <button class="btn btn-primary btn-sm btn-xs" type="button">
                                    <i class="glyphicon glyphicon-search" onclick="search(this)">搜索</i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="mc-main" class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <table id="table"></table>
                    </div>
                    <div class="row">
                        <br>
                        <form class="form-horizontal" action="" method="post">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="comment">审核意见</label>
                                <div class="col-sm-5">
                                    <textarea id="opinion" class="form-control validate[required]" data-errormessage-value-missing="请输入审核意见" name="comment"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-group">
                        <label class="hidden-xs col-sm-2 control-label"></label>
                        <div class="col-sm-5">
                            <button class="btn btn-success btn-pass btn-xs-block" onclick="pass(this)" type="button">通过</button>
                            <button class="btn btn-danger btn-xs-block" onclick="unpass(this)" type="button">不通过</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" th:src="@{/js/LibraryUse/ExamineTable.js}"></script>

</div>

</body>
</html>