<!--综合查询控制中心-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>综合查询</title>
</head>
<body>
<div class="header" th:replace="public:: #public-header"></div>
<!--sidebar-->
<div class="col-md-2" style="border-right:2px solid #337ab7; position:relative; height:1500px " id="sidebar">
    <nav class="d-none d-md-block bg-light sidebar" >
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item" shiro:hasPermission="IntegratedQuery:IntelligentRetrieval">
                    <a class="nav-link active"
                       th:class="${activeUri=='IntelligentRetrieval'?'nav-link active':'nav-link'}"
                       href="#" th:href="@{/IntegratedQuery/IntelligentRetrieval}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>

                        智能检索 <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!--th:class="${activeUri=='main'?'nav-link active':'nav-link'}"-->
                <!--th:class="${activeUri=='emps'?'nav-link active':'nav-link'}"-->
                <li class="nav-item" shiro:hasPermission="IntegratedQuery:AdvancedSearch">
                    <a class="nav-link"
                       th:class="${activeUri=='AdvancedSearch'?'nav-link active':'nav-link'}"
                       href="#" th:href="@{/IntegratedQuery/AdvancedSearch}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>
                        高级搜索
                    </a>
                </li>
                <li class="nav-item" shiro:hasPermission="IntegratedQuery:KnowledgeGraph">
                    <a class="nav-link"
                       th:class="${activeUri=='AdvancedSearch'?'nav-link active':'nav-link'}"
                       href="#" th:href="@{/IntegratedQuery/KnowledgeGraph}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>
                        知识图谱
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:replace="IntegratedQuery/IntelligentRetrieval:: #intelligentRetrieval_div"></div>
</body>
</html>