<!--专题编研-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>专题编研</title>
</head>
<body>
  <div id="container">
      <div class="header" th:replace="public:: #public-header"></div>
      <div class="body">
          <div class="sidebar" th:replace="SpecialTopic/Sidebar:: #sidebar" style="width: 20%;height: 90%; background-color: #cccccc"></div>
          <div class="center" style="width: 78%;height: 90%;float: left ">
              <ol class="breadcrumb">
                  <li>
                      <a data-target="#i-menu-sidebar" data-toggle="sidebar" href="#">
                          <span aria-hidden="true" class="glyphicon glyphicon-align-left"></span>
                          专题编研
                      </a>
                  </li>
                  <li class="active">
                      <a href="#">专题</a>
                  </li>
              </ol>
              <div class="main-center">
                  <div id="mc-query" class="container-fluid">
                      <div class="row">
                          <div class="text-center zero-padding">
                              <span class="col-md-3 zero-padding-lr"></span>
                              <span class="col-md-2 zero-padding-lr">
                                  <select class="form-control input-sm query-status">
                                      <option value="">所有状态</option>
                                      <option value="false">未发布</option>
                                      <option value="true">已发布</option>
                                  </select>
                              </span>
                              <span class="col-md-1 zero-padding-lr">
                                  <input type="text" name="query-createdtime-start" data-force-parse="true" readonly="true" placeholder="创建起时间" class="date readOnly form-control input-sm query-createdtime-start validate[custom[date]]">
                              </span>
                              <span class="col-md-1 zero-padding-lr"><input type="text" name="query-createdtime-end" data-force-parse="true" readonly="true" placeholder="创建止时间" class="date readOnly form-control input-sm query-createdtime-end validate[custom[date]]">
                              </span>
                              <span class="col-md-2 zero-padding-lr"><input class="form-control input-sm query-keywords" placeholder="名称"></span>
                              <span class="col-md-3 zero-padding-lr"></span>
                          </div>
                      </div>
                      <div class="row">
                          <div class="text-center">
                              <div role="group" class="btn-group btn-group-sm btn-group-xs-12">
                                  <button id="search" type="button" class="btn btn-default btn-search btn-xs-block">
                                      <i class="glyphicon glyphicon-search"data-toggle="modal" data-target="#searchModal">搜索</i>
                                  </button>
                                  <button type="button" class="btn btn-info btn-add btn-xs-block">
                                      <i class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#specialModal">新建专题</i>
                                  </button>
                              </div>
                              <!--提示模态框-->
                              <div class="modal fade" id="searchModal"   tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" style="width: 600px" >
                                      <div class="modal-content">
                                          <div class="modal-header" style="background-color: red">
                                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                                              <h4 class="modal-title" id="searchModalLabel"> 提示 </h4>
                                          </div>
                                          <div class="modal-body">
                                             <span>该功能待实现</span>
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!--模态框-->
                              <div class="modal fade" id="specialModal"   tabindex="-1" role="dialog" aria-labelledby="specialModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" style="width: 600px" >
                                      <div class="modal-content">
                                          <div class="modal-header" style="background-color: #007bff">
                                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                                              <h4 class="modal-title" id="fileModalLabel"> 新建专题 </h4>
                                          </div>
                                          <div class="modal-body">
                                              <form id="info" class="form-horizontal" action="" method="post">
                                                  <div class="form-group">
                                                      <label class="col-sm-2 control-label" for="name">名称</label>
                                                      <div class="col-sm-10">
                                                          <input type="text" autocomplete="off" class="form-control"id="name" name="name" placeholder="名称" data-prompt-position="bottomLeft">
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="col-sm-2 control-label" for="contant">内容</label>
                                                      <div class="col-sm-10">
                                                          <input type="text" autocomplete="off" class="form-control"id="contant" name="contant" placeholder="内容" data-prompt-position="bottomLeft">
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="col-sm-2 control-label" for="creater">创建人</label>
                                                      <div class="col-sm-10">
                                                          <input type="text" autocomplete="off" class="form-control" id="creater" name="creater" placeholder="创建人" data-prompt-position="bottomLeft">
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="col-sm-2 control-label" for="publisher">发布人</label>
                                                      <div class="col-sm-10">
                                                          <input type="text" autocomplete="off" class="form-control" id="publisher" name="publisher" placeholder="发布人" data-prompt-position="bottomLeft">
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="col-sm-2 control-label" for="r-time">发布时间</label>
                                                      <div class="col-sm-10">
                                                          <input type="text" autocomplete="off" class="form-control" id="r-time" name="r-time" placeholder="发布时间" data-prompt-position="bottomLeft">
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                              <button type="input" class="btn btn-primary que_add" onclick="save(this)">保存</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="mc-main" class="container-fluid">
                      <div class="row">
                          <div id="DataTables_Table" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                              <div class="row">
                                  <div class="col-sm-6"></div>
                                  <div class="col-sm-6"></div>
                              </div>
                              <div class="row">
                                  <table id="table"></table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js"></script>
      <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
      <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.js"></script>
      <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
      <script type="text/javascript" th:src="@{/js/SpecialTopic/TopicTable.js}"></script>
  </div>

</body>
</html>