<!--模板详情-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="public:: #public_head">
    <meta charset="UTF-8">
    <title>TemplateDetails</title>
</head>
<body>
<div class="header" th:replace="public:: #public-header"></div>
<div class="sidebar" th:replace="SystemManagement/SystemManagePublic:: #sidebar"></div>
<ol class="breadcrumb">
    <li>
        <a data-target="#i-menu-sidebar" data-toggle="sidebar" href="#">
            <span aria-hidden="true" class="glyphicon glyphicon-align-left"></span>
            元数据库管理
        </a>
    </li>
    <li class="active">
        <a href="#">模板详情</a>
    </li>
</ol>
<div class="col-sm-10 zero-padding-lr">
    <table id="table_id" class="table table-striped table-bordered row-border hover order-column" cellspacing="0"  style="margin-top:20px;">
        <thead>
        <tr>
            <th>字段id</th>
            <th>字段uuid</th>
            <th>字段中文名</th>
            <th>字段英文名</th>
            <th>字段类型</th>
            <th>字段最大长度</th>
            <th>字段是否可以被索引</th>
            <th>字段是否可以被分词</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="field:${template.fields}">
            <td th:text="${field.fieldId}"></td>
            <td th:text="${field.fieldUuid}"></td>
            <td th:text="${field.fieldName}"></td>
            <td th:text="${field.fieldEnglishName}"></td>
            <td th:text="${field.fieldType}"></td>
            <td th:text="${field.fieldLength}"></td>
            <td th:text="${field.fieldIndex}"></td>
            <td th:text="${field.fieldIk}"></td>
        </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                // 国际化
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>